@media(max-width: 375px){
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Yusei Magic", sans-serif;
  --theme-color-1: rgb(32, 182, 147);
  --theme-color-2: rgb(0, 217, 255);
  color: #454545;
}

body{
    background-color: rgb(250, 255, 237);
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(32, 182, 147);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    box-sizing: border-box;
}

.container{
    font-size: clamp(0.5rem, 8vw, 5rem);
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

nav{
    display: flex;
    justify-content: flex-end;
    color: #000;
    gap: 0px;
    align-items: center;
    margin-left: auto;
}

.name{
    position: relative;
    font-size: 55%;
    color: #000;
    /* width: 50vw; */
    /* background-color: rgb(0, 255, 195); */
    /* border-radius: 15px; */
    /* padding: 10px; */
    margin: 0;
    padding-right: 10px;
    /* white-space: nowrap; */
    /* margin-right: auto; */
}

.nav-list{
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 0pt;
}

header nav a{
    color: #000;
    text-decoration: none;
}

.gnav {
    display: inline-block;
    /* position: relative; */
    font-size: clamp(0.75rem, 5vw, 1rem);
    color: black;
    /* background-color: rgb(0, 255, 195); */
    /* border-radius: 15px; */
    /* padding: 10px; */
    margin: 0;
    /* white-space: nowrap; */
}

main{
    margin-top: 15px;
}

p{
    color: black;
    background-color: rgb(0, 217, 255);
    border-radius: 15px;
    padding: 10px;
}

.works-ul{
    padding-inline-start: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
}

.reversi-images {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    /* margin-top: 10px; */
}

h2{
    font-size: 225%;
    color: rgb(49, 185, 154);
    margin-bottom: 0vw;
}

.profile-text{
    background-color: rgb(164, 241, 255);
    border-radius: 15px;
    padding: 10px;
    max-width: 85vw;
    font-size: clamp(0.7rem, 3.5vw, 1.3rem);
}

.profile-section,
.works-section,
.skills-section{
    padding: 60px 5px 0 20px;
    /* margin-top: 100px; */
}

.work{
    background-color: rgb(164, 241, 255);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    width: 85%;
    position: relative;
    height: auto;
}

.work-link{
    position: absolute;
    top: 12px;
    /* right: 12px; */
    background: rgba(255,255,255,0.9);
    padding: 6px 8px;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    font-size: clamp(0.7rem, 2vw, 1.3rem);
    z-index: 10;
}

.reversi-image{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: clamp(150px, 50%, 400px);
    display: block;
    margin: 55px 0 2px 0;
}

.MiniatureTank-image{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: clamp(140px, 50%, 600px);
    display: block;
    margin: 55px 0 2px 0;
}

/* .work-image{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: clamp(150px, 50%, 400px);
    display: block;
    margin: 55px 0 2px 0;
} */

.skills-ul{
    background-color: rgb(164, 241, 255);
    border-radius: 15px;
    padding-inline-start: 0;
    list-style-type: square;
    max-width: 85vw;
    font-size: clamp(0.9rem, 3.5vw, 1.5rem);
    gap: 3vw 5vw;
    margin-top: 0%;
    padding: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}