html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Yusei Magic", sans-serif;
  --theme-color-1: rgb(0, 255, 195);
  --theme-color-2: rgb(0, 217, 255);
  color: #454545;
}

body{
    background-color: rgb(250, 255, 237);
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(0, 255, 195);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    box-sizing: border-box;
}

.container{
    font-size: 8vw;
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

nav{
    display: flex;
    justify-content: flex-end;
    color: #000;
    gap: 20px;
    align-items: center;
    margin-left: auto;
}

header ul,
header li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.name{
    position: relative;
    font-size: 35%;
    color: #000;
    /* background-color: rgb(0, 255, 195); */
    /* border-radius: 15px; */
    /* padding: 10px; */
    margin: auto auto 0 0;
    /* white-space: nowrap; */
    /* margin-right: auto; */
}

.nav-list{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.gnav {
    display: inline-block;
    /* position: relative; */
    font-size: 35%;
    color: black;
    /* background-color: rgb(0, 255, 195); */
    /* border-radius: 15px; */
    /* padding: 10px; */
    margin: 0;
    /* white-space: nowrap; */
}

main{
    margin-top: 80px;
}

p{
    color: black;
    background-color: rgb(0, 217, 255);
    border-radius: 15px;
    padding: 10px;
}

/* a{
    color: rgb(81, 0, 255);
} */

h2{
    font-size: 200%;
    color: rgb(49, 185, 154);
    margin-bottom: 0vw;
}

.profile-text{
    background-color: rgb(164, 241, 255);
    border-radius: 15px;
    padding: 10px;
}

.profile-section,
.works-section,
.skills-section{
    padding: 60px 0 0 20px;
    /* margin-top: 100px; */
}

.work{
    background-color: rgb(164, 241, 255);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    width: 40vw;
    height: auto;
}

.work-image{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    margin-bottom: 10px;
}