html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Yusei Magic", sans-serif;
  --theme-color-1: rgb(0, 255, 195);
  --theme-color-2: rgb(0, 217, 255);
  color: #454545;
}

body{
    background-color: rgb(250, 255, 237);
}

nav{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    position: relative;
    text-align: center;
    font-size: 4vw;
    color: black;
    width: 50vw;
    height: auto;
    /* margin-left: calc(75vw - 50vw); */
    margin-left: 25vw;
    background-color: rgb(0, 255, 195);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 0vh;
}

.gnav {
    display: inline;
    margin-top: 0vh;
    margin-bottom: 10vh;
    margin-right: 5vh;
    font-size: 2vw;
    background-color: rgb(0, 255, 195);
    border-radius: 10px;
    padding: 5px 10px;
}

p{
    color: black;
    background-color: rgb(0, 217, 255);
    border-radius: 15px;
    padding: 10px;
}

a{
    color: rgb(81, 0, 255);
}

h2{
    font-size: 200%;
    color: rgb(49, 185, 154);
    margin-bottom: 0vw;
}

.profile-text{
    background-color: rgb(164, 241, 255);
    border-radius: 15px;
    padding: 10px;
}

.work{
    background-color: rgb(164, 241, 255);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    width: 40vw;
    height: 35vh;
}

.work-image{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    margin-bottom: 10px;
}